# Visual Studio temp files
.vs/
*.suo
*.user
*.vcxproj.user

# Build outputs
Debug/
Release/
x64/
Bot/
*.obj
*.pdb
*.ilk
*.idb
*.log
*.tlog/
*.lastbuildstate
*.pch
*.ipch
*.dll
*.exp
*.lib
*.map

# VS indexes
*.vsidx

# Build recipes
*.dll.recipe

# Other
*.Build.CppClean.log
*.FileListAbsolute.txt
